.link{
	font-size:50%;
}
table {
	 border-width:1px;
	 border-style:solid;
	 border-color:black;
	 width:50%;
	 background-color:white;
	 border-collapse:collapse;
   margin: auto;
 }

tr{
	 border-width:1px;
	 border-style:solid;
	 border-color:black;
}
 td{
 	border-width:1px;
	 border-style:solid;
	 border-color:black;
   padding: 15px;
}
th{
         border-width:1px;
	 border-style:solid;
	 border-color:black;
