 table { 
	 border-width:1px; 
	 border-style:solid; 
	 border-color:black;
	 width:50%;
	 background-color:yellow;
	 border-collapse:collapse; 
	 margin:auto;

 }
 
tr{
	 border-width:1px; 
	 border-style:solid; 
	 border-color:black;

} 
 td{
 	border-width:1px; 
	 border-style:solid; 
	 border-color:black;
}
th{
         border-width:1px; 
	 border-style:solid; 
	 border-color:black;
}
 caption {
    padding: 10px;
    caption-side: bottom;
}
 
 
 a{
 	color:green;
 }
 
ul li a{
	color:#254432;
}


